---
layout: page
permalink: /categories
title: Categories
---

<div class="categories">
  {% for category in site.categories %}
    <div class="category-item">
      {% assign category_slug = category[0] | slugify %}
      <h3>
        <a href="{{ '/categories/' | append: category_slug | append: '.html' | relative_url }}" style="color: #000;">
          {{ category[0] }}
        </a>
      </h3>
      <span class="count">{{ category[1].size }} posts</span>
      
      <!-- List the three most recent posts in this category. -->
      <ul>
        {% for post in category[1] limit:3 %}
          <li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
